.privacyPolicyPage {
    .headingPage {
        color: var(--ifm-font-color-base);
        font-size: var(--font-size-section-heading);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            line-height: 1.5;
        }
    }

    address {
        font-style: normal;
        line-height: 1.6;
        margin-bottom: 2rem;
    }
}