@use "sass:map";

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

// Mixin für "Ab dieser Größe und aufwärts" (min-width)
@mixin media-breakpoint-up($name) {
  $min: map.get($grid-breakpoints, $name);
  
  @if $min and $min != 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Mixin für "Bis zu dieser Größe und abwärts" (max-width)
@mixin media-breakpoint-down($name) {
  $max: map.get($grid-breakpoints, $name);
  
  // 0.02px abziehen, um Überschneidungen (z.B. exakt bei 768px) zu verhindern
  @if $max and $max != 0 {
    @media (max-width: ($max - 0.02px)) {
      @content;
    }
  }
}
